@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/Roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Italic"),
    local("Roboto-talic"),
    url("../fonts/Robotoitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/Robotobold.woff2") format("woff2");
}

:root {
  --titan-white: #fdfdfd;
  --dark-blue: #163152;
  --emerald: #00c6bd;
  --roman-silver: #8693a4;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: var(--dark-blue);

  background-color: var(--titan-white);
}

.header-navigation-link {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--dark-blue);
}

.main-title {
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;

  text-transform: uppercase;
}

.crew-duration,
.event-duration {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

.crew-title,
.event-title,
.news-title,
.contacts-title {
  font-size: 24px;
  line-height: 34px;

  text-decoration-line: underline;
  text-decoration-color: var(--emerald);
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.post-picture-desription,
.post-date {
  font-size: 16px;
  line-height: 19px;

  color: var(--roman-silver);
}

.post-title {
  font-size: 22px;
  line-height: 26px;
}

.post-subtitle {
  font-size: 20px;
  line-height: 26px;
}

.post-text,
.post-item {
  font-size: 18px;
  line-height: 26px;
}

.post-quote {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}

.post-author-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: var(--dark-blue);

  text-decoration: none;
}

.contacts-item,
.contacts-subtitle,
.contacts-desription {
  font-size: 16px;
  line-height: 22px;

  text-decoration: none;

  color: var(--dark-blue);
}

.footer-policy-link,
.footer-copyright {
  font-size: 10px;
  line-height: 12px;

  text-decoration: none;

  color: var(--dark-blue);
}

.footer-title {
  font-size: 14px;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;
}

.footer-navigation-link {
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;

  color: var(--dark-blue);
}
